  <figure>
    <blockquote><%=@question%>
    <figcaption><cite>&mdash;You<cite></figcaption>
    </blockquote>
  </figure>

   <figure>
    <blockquote><%=@answer%>
    <figcaption><cite>&mdash;Coach<cite></figcaption>
    </blockquote>
  </figure>

  <button><%=link_to "Ask another question", ask_path%></button>
  
