// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

figure {
  border-left-width: 4px;
  border-style: solid;
  border-color: white;
  border-left-color: lightgray;
  margin: 0;
}